// Colors

$darkgrey: #222244;
$darkblue: #072138;
$lime: #8CCC00;
$blue: #0086e4;
$magenta: #e40091;
$grey: #7f7f7f;
$lightgrey: #fcfcfc;

// Font stack

$sourcesans: "Source Sans Pro", Arial, sans-serif;
$oldstandard: "Old Standard TT", Georgia, serif;

// Various dimensions